@import url("https://font.googleapis.com/css?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
* {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'poppins', 'sans-serif';

}



body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('bakround.jpg');
    background-size: cover;
    background-position: center;
    
}

.wrapper {
    width: 420px;
    background: teal;
    background: linear-gradient(0deg teal);
    color: black;
    border-radius: 10px;
    padding: 30px 40px;
    backdrop-filter: blur;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border: 2px solid rgba(225, 225, 225, .2);
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 225px;
    height: 30px;
    margin: 30px 0;
}

.input-box input {
    width: 225px;
    height: 40px;
    border: black;
    outline-color: black;
    border: 2px rgba(225, 225, 225, 2);
    border-radius: 40px;
    font-size: 15px;
    color: rgb(0, 0, 0);
    padding: 20px 45px 20px 20px;
    margin-left: 50px;
}


.wrapper.remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.wrapper .password {
width: 225px;
height: 75px;
border-radius: 40px;
margin-left: 50px;
}



.input-box input::placeholder {
width: 100px;
height: 50px;
color: #000000;
background-color: white;
}



.input-box i {
text-align: right;
position: absolute;
right: 20px;
top: 50%;
transform: translateY(-50%);
font-size: 16px;
padding: 20px 45px 20px 20px;
}

.remember-forgot label input {
accent-color: #ffffff;
margin-right: 3px;
}

.remember-forgot a {
color: #ffff;
text-decoration: none;
}

.remember-forgot a:hover {
text-decoration: underline;
}

.wrapper .btn {
width: 50%;
height: 45px;
margin-left: 80px;
background: rgb(0, 255, 191);
outline: rgb(213, 235, 135);
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, .1);
cursor: pointer;
font-size: 15px;
color: #000000;
font-weight: 600;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial, sans-serif';
}

.wrapper .register-link {
font-size: 14.5px;
text-align: center;
margin: 20px 0 15px;
}

.register-link p a {
color: #000000;
text-decoration: none;
font-weight: 600;
}

.register-link p a:hover {
text-decoration: underline;
color: #000000;
transform-origin: left;
}

.password input {
border-radius: 40px;
width: 200px;
height: 40px;
margin-left: 1px;
padding: 20px 45px 20px 20px;
border: rgb(0, 0, 0);
outline-color: black;
}

