body {
    background-color: navy;
    text-align: center;
    font-size: 25px;
    color: white;
    font-family: 'Cambria', 'Cochin', 'Georgia', 'Times', 'Times New Roman', 'serif';
        /* Set the background image */
        background-image: url(''); /* Replace 'image.jpg' with the filename of your image */
        /* Set background properties */
        background-repeat: no-repeat; /* Prevent the image from repeating */
        background-size: cover; /* Cover the entire background */
}

h1 {
    font-family: Times 'New Roman', 'Times, serif';
    font-size: 50px;
    color: white
}








