header {
    font-size: 45px;
    text-align: center;
    font-family: 'poppins', 'sans-serif';
    text-decoration: underline;
    grid: 25px;
    }

body {
font-family: 'Arial', 'sans-serif';
margin: 0;
padding: 0;
display: flex;
flex-direction: column;
align-items: center;
background-color: #f0f0f0;
}

.logo h2 {
    font-size: 2em;
    color: #ffff;
    user-select: none;
    background-image: url('Yellow\ Minimalist\ Modern\ Engineering\ Logo.png');
    background-position-x: left;
    background-position-y: top;
    border-image: url('Yellow\ Minimalist\ Modern\ Engineering\ Logo.png');
    
    }

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.gallery-item {
    margin: 10px;
}

.gallery-item img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.bottom-link-container {
    margin-top: 20px;
    text-align: center;
}

.bottom-link-container p a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

.bottom-link-container p a:hover {
    text-decoration: underline;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.gallery-item {
    margin: 10px;
}

.gallery-item img {
    max-width: 200px;
    max-height: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.bottom-link-container {
    margin-top: 20px;
    text-align: center;
}














